<!--The content below is only a placeholder and can be replaced.-->


   <div class="text-center">

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary nav-styles">
    <a class="navbar-brand" href="#">Princeton</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/documents" routerLinkActive="active">Documents</a>
        <a class="nav-item nav-link" routerLink="/proposals" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true}" >Proposals</a>
        <a class="nav-item nav-link" routerLink="/proposals/new" routerLinkActive="active">New Proposal</a>
      </div>
    </div>
  </nav>


<div class="app-body">
<router-outlet></router-outlet>
</div>
</div>
